.murious_events{
    background: linear-gradient(102.67deg, #129106 33.14%, #5EBF4E 100%);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    /* align-items: center; */
}
.events_head{
    font-weight: 600;
    font-size: 120px;
    color: white;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
}

@media screen and (max-width: 400px){
    .events_head{
        font-size: 50px;
        margin-bottom: 1rem;
    }
    .murious_events{
        padding-top: 1.5rem;
        height: 32rem;
    }
}